.body {
    padding:30px;
    flex: 0.9;
    height: 200vh;
    color: white;
    overflow-y: overlay;
    background: linear-gradient(rgb(91, 87, 115), rgba(0, 0,0, 1)
    );
}

.body::-webkit-scrollbar{
    display: none;
}
.body__info {
    display: flex;
    align-items: flex-end;
    padding: 5px -5px;

}

.body__info > img {
    height: 15vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px
    rgba(0, 0, 0, 0.5);
}

.body__infoText {
    flex: 1;
    margin-bottom: 10px;
}
.body__infoText > h2{
    font-size: 100px;
    margin-bottom: 10px;
    margin-right: 40px
}

.body_infoText > p {
    color: gray;
    margin-bottom: 10px;
}


.body__infoText {
    font-size: 15px;
}

.body__icons {
    display: flex;
    align-items: center;
}
/* targets all Material UI icons in body__icons */
.body__icons * .MuiSvgIcon-root {
    margin-right: 20px; 

}

.body__shuffle {
    font-size: 60px !important;
    margin: 20px 20px 20px 30px;
    color: #1ed15c;
}

.body__shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.body__songs {
    margin: 20px -30px;
}

.body__fave{
    margin-right: 10px;
    color: gray;
}